<div class="col-md-4 offset-md-4 mt-5">
  <div class="card">
    <div class="card-body">
      <form action="">
        <div class="form-group">
          <input type="text" 
            name="title" 
            placeholder="Title"
            class="form-control"
            [(ngModel)] = "game.title"
            autofocus>
        </div>
        <div class="form-group">
          <textarea name="description" 
            placeholder="Descripción"
            rows="2"
            class="form-control"
            [(ngModel)]="game.description"></textarea>
        </div>
        <div class="form-group">
          <input type="text" 
            name="image" 
            placeholder="Image"
            class="form-control"
            [(ngModel)]="game.image">
        </div>  
        <button class="btn btn-success btn-block" (click)="actionEdit ? updateGame() : saveNewGame()">
          GUARDAR
        </button>
      </form>
    </div>
  </div>
</div>